$page-width : 1024px;

$keyboard-background: rgba(49, 70, 49, 0.6);
$keyboard-shadow:     rgba(0,0,0.5);
$keyboard-border-color: rgba(33, 36, 33, 0.7);

$key-background: rgba(66, 85, 66, 0.5);
$key-shadow:     rgba(38, 43, 38, 0.7);
$key-border-color: rgba(29, 34, 29, 0.7);

$key-background-active: rgba(49, 65, 49, 0.6);
$key-shadow-active:     rgba(23, 26, 23, 0.7);

$key-color: rgb(188, 199, 184);
$key-activatable-color: #04ff00bd;