.key {
  position: relative;
  display: inline-flex;
  background-color: $key-background;
  color: $key-color;
  border: 1px solid $key-border-color;
  border-radius: 4px;  
  box-shadow: 0 1px 8px 2px $key-shadow;
  margin: 5px;
  height: 45px;
  width: 5%;
  max-width: 55px;
  min-width: 45px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  vertical-align: top;

  font-size: 25px;
  font-weight: 500;

  // pressed
  &:active, &_active {
    background-color: $key-background-active;
    box-shadow: 0 1px 4px 1px $key-shadow-active;
  }


  // key width
  &_medium {
    width: calc(10% + 12px);
    max-width: 122px;
    min-width: 102px;
  }
  &_wide {
    width: calc(15% + 24px);
    max-width: 189px;
    min-width: 159px;
  }

  &_extra-wide {
    width: calc(20% + 36px);
    max-width: 256px;
    min-width: 226px;
  }

  // dot on activatable keys
  &_activatable {
    
    &_active {
      color: $key-activatable-color;
      box-shadow: 0 0 8px 2px $key-activatable-color;
    }  

  }

  

  
}
