.key {
  position: relative;
  display: inline-flex;
  background-color: $key-background;
  color: $key-color;
  border: 1px solid $key-border-color;
  border-radius: 4px;
  box-shadow: 4px 4px 2px $key-shadow;
  margin: 4px;
  height: 45px;
  width: 6%;
  max-width: 45px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  vertical-align: top;

  font-size: 25px;
  font-weight: 500;

  // pressed
  &:active, &_active {
    background-color: $key-background-active;
    box-shadow: 2px 2px 1px $key-shadow-active;
  }


  // key width
  &_medium {
    width: 12%;
    max-width: 90px;
  }
  &_wide {
    width: 18%;
    max-width: 135px;
  }

  &_extra-wide {
    width: 36%;
    max-width: 270px;
  }

  // dot on activatable keys
  &_activatable {

    &:after {
      content: '';
      position: absolute;
      top: 10px;
      right: 10px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.4);    
    }

    &_active:after {
      content: '';
      background-color: $key-activatable-color;
    }
  }

  

  
}
